body {
    background: #f7f7f7;
    font-family: Arial, Helvetica;
    max-width: 1000px;
    margin: auto;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
}

#address_info {
    color: #707070;
    text-align: center;
    font-style: italic;
    margin:0;
    margin-bottom: 10px;
}

.contact_info {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.contact_info a {
    color:#ff3366;
    float: center;
    display: inline-block;
    width: 17%;
    border-left: 1px solid;
    border-right: 1px solid;
}

#intro {
    color: #505050;
    font-style: italic;
    text-align: center;
    margin-bottom:30px;
}

section {
    border: 2px solid #ff3366;
    background:#f0f0f0;
    border-radius: 15px;
    padding: 10px;
    padding-top:0px;
    margin-bottom: 15px;
}

.formacao, .formacao_adicional, .experiencias_profissionais, .experiencias_academicas {
    padding: 10px;
}

hr {
    margin-bottom:20px;
    border-top: 1px solid #ff3366;
}

.item_title {
    font-weight:bold;
    padding:0;
    margin: 0;
    margin-bottom:5px;
}

.item_subtitle {
    margin:0;
    padding:0;
    color: #707070;
    font-weight:bold;
}

.float_right {
    float:right;
    font-style:italic;
    font-weight:normal;
    font-size:14px;
}

.item {
    border-bottom: 1px #ff3366 solid;
    margin-bottom:20px;
}

.subtitle {
    font-size: 30px;
}

.idiomas ul, .habilidades_computacionais ul {
    list-style: none;
}

li {
    margin-bottom:5px;
}

.enfase {
    font-weight:bold;
    color: #ff3366;
}
